@media all and (min-width: 992px) {
  .parent {
    .sidebar {
      padding: 2rem;

      .close-sidebar-btn {
        display: none;
      }
    }

    .content {
      margin-right: 15.65rem;
      padding: 2rem;

      &.full-width {
        margin-right: 0;
      }
    }
  }
}