@media all and (max-width: 340px) {
  .parent {
    .content {
      .header {

        &.full-width {
          margin-right: 0;
        }

        .header__item {
          margin-right: 0.5rem !important;

          .dropdown-toggle::after {
            display: none !important;
          }

          .header__profile {
            .header__profile-img-container {
              width: 2rem !important;
              height: 2rem !important;
            }
          }
        }
      }

      .main {
        .stat__title {
          font-size: 0.7rem !important;
          white-space: normal !important;
        }
      }
    }
  }
}


@media all and (min-width: 992px) {
  .parent {
    .sidebar {
      padding: 2rem;

      .close-sidebar-btn {
        display: none;
      }
    }

    .content {
      margin-right: 15.65rem;

      &.full-width {
        margin-right: 0;
      }
    }
  }
}