// fonts
@font-face {
  font-family: IranYekan;
  src: url("../fonts/IRANYekanWebRegular.eot") format("embedded-opentype"),
  url("../fonts/IRANYekanWebRegular.woff") format("woff"),
  url("../fonts/IRANYekanWebRegular.woff2") format("woff2");
}

// variables
:root {
  --transition: all 0.3s ease-in-out;
}

// custom reset
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: IranYekan, Tahoma, sans-serif;
}

.bi {
  line-height: 0;
  display: inline-flex;
}

// utilities

.fs-7 {
  font-size: 0.8rem;
}

.pointer {
  cursor: pointer;
}


// custom scrollbar
::-webkit-scrollbar {
  width: 0.45rem;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 0.5rem;

  &:hover {
    background-color: #555;
  }
}

// custom styles
[x-cloak] {
  display: none !important;
}

.parent {
  .sidebar {
    width: 15.65rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    transition: var(--transition);
    padding: 1rem;
    overflow-y: hidden;

    &.close {
      margin-right: -15.65rem;
    }

    &:hover {
      overflow-y: auto;
    }

    .sidebar__list {
      padding-right: 0;

      .sidebar__item {
        margin-bottom: 0.5rem;


        &.sidebar__item-active {
          .sidebar__link {
            background-color: #435ebe !important;
            color: #fff !important;

            i {
              color: #fff;
            }
          }
        }

        .sidebar__link {
          color: #25396f;
          border-radius: 0.5rem;
          transition: var(--transition);
          padding: 0.6rem 1rem;
          display: block;

          &:hover {
            background-color: #f0f1f5;
          }

          i {
            color: #7c8db5;
          }
        }

        .sidebar__sublist {
          padding-right: 0.3rem;

          .sidebar__subMenu-Item {
            transition: var(--transition);

            &:hover {
              padding-right: 0.4rem;
            }

            .sidebar__subMenu-link {
              color: #25396f;
              display: block;
              padding: 0.6rem 1rem;
              font-size: 0.8rem;
              font-weight: 600;
            }
          }
        }

      }
    }
  }

  .content {
    background-color: #f2f7ff;
    transition: var(--transition);
    padding: 1rem;
    min-height: 100vh;
  }
}


@import "responsive";
