// fonts
@font-face {
  font-family: IranYekan;
  src: url("../fonts/IRANYekanWebRegular.eot") format("embedded-opentype"),
  url("../fonts/IRANYekanWebRegular.woff") format("woff"),
  url("../fonts/IRANYekanWebRegular.woff2") format("woff2");
}

// variables
:root {
  --transition: all 0.3s ease-in-out;
}

// custom reset
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: IranYekan, Tahoma, sans-serif;
}

.bi {
  line-height: 0;
  display: inline-flex;
}

// utilities
.pe-10 {
  padding-left: 10rem !important;
}

.fs-7 {
  font-size: 0.8rem !important;
}

.pointer {
  cursor: pointer;
}

.bg-purple {
  background-color: #9694ff;
}

.bg-blue {
  background-color: #57caeb;
}

.bg-green {
  background-color: #5ddab4;
}

.bg-red {
  background-color: #ff7976;
}

.rounded-4 {
  border-radius: 0.7rem !important;
}


// custom scrollbar
::-webkit-scrollbar {
  width: 0.45rem;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 0.5rem;

  &:hover {
    background-color: #555;
  }
}

// custom styles
[x-cloak] {
  display: none !important;
}

.parent {
  .sidebar {
    width: 15.65rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    transition: var(--transition);
    padding: 1rem;
    z-index: 999;
    overflow-y: hidden;

    &.close {
      margin-right: -15.65rem;
    }

    &:hover {
      overflow-y: auto;
    }

    .sidebar__list {
      padding-right: 0;

      .sidebar__item {
        margin-bottom: 0.5rem;


        &.sidebar__item-active {
          .sidebar__link {
            background-color: #435ebe !important;
            color: #fff !important;

            i {
              color: #fff;
            }
          }
        }

        .sidebar__link {
          color: #25396f;
          border-radius: 0.5rem;
          transition: var(--transition);
          padding: 0.6rem 1rem;
          display: block;

          &:hover {
            background-color: #f0f1f5;
          }

          i {
            color: #7c8db5;
          }
        }

        .sidebar__sublist {
          padding-right: 0.3rem;

          .sidebar__subMenu-Item {
            transition: var(--transition);

            &:hover {
              padding-right: 0.4rem;
            }

            .sidebar__subMenu-link {
              color: #25396f;
              display: block;
              padding: 0.6rem 1rem;
              font-size: 0.8rem;
              font-weight: 600;
            }
          }
        }

      }
    }
  }

  .content {
    background-color: #f2f7ff;
    transition: var(--transition);
    padding: 1rem;
    min-height: 100vh;

    .header {
      .header__item {

        display: flex;
        align-items: center;

        .dropdown-toggle::after {
          transform: translateY(0.65rem);
        }

        .dropdown-item {
          padding: 0.5rem 0.8rem !important;
        }

        .header__badge {
          font-family: sans-serif, tahoma;
          font-size: 0.6rem;
          color: #fff;
          width: 1.3rem;
          height: 1.3rem;
          top: -0.6rem;
          right: -0.8rem;
        }

        .header__profile {
          .header__profile-img-container {
            width: 3rem;
            height: 3rem;
          }

          .header__profile-content {
            max-width: 25vw;
            overflow-x: hidden;
          }

          &.dropdown-toggle::after {
            display: none !important;
          }
        }
      }
    }

    .main {
      .middle {
        .chart {
          #chart-div {
            height: 60vh;
            width: 100%;
            direction: ltr;
          }
        }

        .progress-bars {
          .progress {
            height: 1.3rem;
            font-family: Tahoma, sans-serif;
          }
        }

        .last-comments {
          .table  {
            .profile-container {
              width: 4rem;
              height: 4rem;
            }

            .table__comment {
              max-height: 5.5rem !important;
              overflow-y: auto;
              margin: 0;
            }
          }
        }
      }

      .left {

        .profile {
          .profile__img-container {
            width: 38%;
            max-width: 5rem;
          }
        }
      }
    }
  }

}


@import "responsive";
